@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 9 9 11;          
  --muted: 113 113 122;       
  --border: 228 228 231;   

  --primary: 37 99 235;     /* blue-600*/
  --primary-fg: 255 255 255;

  --accent: 219 234 254;    /* blue-100*/
  --accent-fg: 30 64 175;   /* blue-800*/

  --highlight: 245 158 11;        /* amber-500 */
  --highlight-fg: 24 24 27;       /* zinc-900 (teks di atas amber) */
}

.dark {
  --bg: 9 9 11;            /* zinc-950 */
  --fg: 244 244 245;       /* zinc-100 */
  --muted: 161 161 170;    /* zinc-400 */
  --border: 63 63 70;      /* zinc-700 */

  --primary: 244 244 245;
  --primary-fg: 9 9 11;

  --accent: 129 140 248;   /* indigo-400 */
  --accent-fg: 9 9 11;

  --highlight: 251 191 36;        /* amber-400 (lebih terang di dark) */
  --highlight-fg: 9 9 11;
}
