@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 24 24 27;          /* zinc-900 */
  --muted: 82 82 91;       /* zinc-600 */
  --border: 228 228 231;   /* zinc-200 */

  --primary: 17 24 39;     /* slate-900 */
  --primary-fg: 255 255 255;

  --accent: 99 102 241;    /* indigo-500 */
  --accent-fg: 255 255 255;
}

.dark {
  --bg: 9 9 11;            /* zinc-950 */
  --fg: 244 244 245;       /* zinc-100 */
  --muted: 161 161 170;    /* zinc-400 */
  --border: 63 63 70;      /* zinc-700 */

  --primary: 244 244 245;
  --primary-fg: 9 9 11;

  --accent: 129 140 248;   /* indigo-400 */
  --accent-fg: 9 9 11;
}
